{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="card">
        <h2>Verify Document</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="reg_no" placeholder="Register Number" required>

            <select name="document_type" required>
                <option value="" disabled selected>Select Document Type</option>
                <option value="TC">Transfer Certificate (TC)</option>
                <option value="Marksheet">Marksheet</option>
            </select>

            <input type="file" name="file" required>
            <button type="submit">Verify</button>
        </form>
        
        <a href="/" class="btn-back">Cancel</a>
    </div>
</div>

{% endblock %}